<template>
  <div class="recipe">
    <p class="info">Don't know what to eat? Don't worry, we got you covered!</p>
    <br>
      
      <div>
        <p class="steps">1. Tell us what you like by checking the boxes below.</p>
        <p class="steps">2. Choose between meaty, veggie or vegan recipes</p>
        <p class="steps">3. See the fancy recipes we suggest for your needs!</p>
        <p class="steps">4. Create a List of your favourite Recipes by adding them to your favourites!</p>
        <p class="steps">
          5. Check your personal List here:
          <router-link :to="{name: 'MyRecipes'}">My Recipes</router-link>
        </p>
      </div>
    

    <div class="column">
      <div>
        <b-checkbox class="checkbox" v-model="checkboxGroup" native-value="low-sugar">Low-sugar</b-checkbox>
        <b-checkbox v-model="checkboxGroup" native-value="peanut-free">Peanut-free</b-checkbox>
        <b-checkbox v-model="checkboxGroup" native-value="tree-nut-free">Tree-nut-free</b-checkbox>
        <b-checkbox v-model="checkboxGroup" native-value="alkohol-free">Alcohol-free</b-checkbox>
      </div>
      <div>
        <b-checkbox class="checkbox" v-model="checkboxGroup2" native-value="balanced">Balanced</b-checkbox>
        <b-checkbox v-model="checkboxGroup2" native-value="high protein">High protein</b-checkbox>
        <b-checkbox v-model="checkboxGroup2" native-value="low-fat">Low-fat</b-checkbox>
        <b-checkbox v-model="checkboxGroup2" native-value="low-carb">Low-carb</b-checkbox>
      </div>
    </div>

    <div >
      <div @click="showRecipes('normal')" class="chooseRecipeDiv">
        <img src="../assets/undraw_Hamburger_8ge6.svg" alt="Burger" class="chooseImg" />
        <h2 class="positioned">With Meat</h2>
      </div>
      <div @click="showRecipes('vegetarian')" class="chooseRecipeDiv">
        <img src="../assets/undraw_walk_in_the_city_1ma6.svg" alt="Vegetarian" class="chooseImg" />
        <h2 class="positioned">Vegetarian</h2>
      </div>
      <div @click="showRecipes('vegan')" class="chooseRecipeDiv">
        <img src="../assets/undraw_flowers_vx06.svg" alt="Vegan" class="chooseImg" />
        <h2 class="positioned">Vegan</h2>
      </div>
    </div>

    <hr v-if="shownRecipes"/>
    <h3 v-if="shownRecipes">Recipes</h3>

    <div class="containersContainer">
      <div v-for="(recipe, i) in recipes" :key="recipe.label" class="card recipeContainer">
        <figure class="image is-4by3">
          <img :src="recipe.recipe.image" :v-model="recipe.recipe.image" alt="Recipe Image" />
        </figure>
        <div class="card-content">
          <div class="media-content">
            <p class="media-content"></p>
            <p class="title is-4">
              <span>{{recipe.recipe.label}}</span>
            </p>
            <i @click="safeRecipe(recipe.recipe, i)" class="far fa-star" :class="{yellow: i === clicked }"></i>
            <p
              v-for="healthLabels in recipe.recipe.healthLabels"
              :key="healthLabels"
              class="subtitle is-6"
            >{{ healthLabels }}</p>
            <ul v-for="ingredients in recipe.recipe.ingredientLines" :key="ingredients">
              <li>{{ ingredients }}</li>
            </ul>
            <a :href="recipe.recipe.url" target="_blank">Show whole recipe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import * as fb from "../config/firebaseConfig";
import axios from "axios";

export default {
  name: "Recipe",
  data() {
    return {
      checkboxGroup: [],
      checkboxGroup2: [],
      recipes: [],
      shownRecipes: false,
      clicked: false,
    };
  },
  methods: {
    showRecipes(plan) {
      let healthArray = [];
      let healthArray2 = [];
      let label = "";
      let label2 = "";

      for (let healthLabel of this.checkboxGroup) {
        healthArray.push(healthLabel);
      }
      label = healthArray.join("', '");
      label = "'" + label + "'";

      for (let healthLabel of this.checkboxGroup2) {
        healthArray2.push(healthLabel);
      }
      label2 = healthArray2.join("', '");
      label2 = "'" + label2 + "'";

      this.shownRecipes = true;

      let random = 0;
      random = Math.floor(Math.random() * 100);
      axios

        .get("https://api.edamam.com/search", {
          params: {
            q: plan,
            app_id: "59a09b6c",
            app_key: "66ae48894cf02b538fea7a3ccf8d5eb7",
            healthLabels: label,
            dietLabels: label2,
            from: random,
            to: random + 6
          }
        })

        .then(res => {
          res = res.data;
          this.recipes = res.hits;
        })
        .catch(() => {
          this.recipes = [];
        });
    },

    safeRecipe(recipe, i) {
      fb.db
        .collection("usersRecipes")
        .doc(this.$store.state.currentUser.uid)
        .collection("recipe")
        .doc(recipe.label)
        .set({
          recipe
        });
      this.$buefy.toast.open("Recipe saved");
      this.$store.dispatch('getRecipes')
      this.clicked = i;
    }
  }
};
</script>
<style scoped>
h2{
  font-size: 1.8em;
}

h3 {
  color: #f185a7;
  font-family: Pacifico;
  font-size: 30px;
  font-weight: 500;
  margin-Bottom: 2rem;
}

p {
  font-weight: normal;
}

.align{
  align-content: space-between;
}

.info {
  color: ivory;
  font-weight: 500;
  font-size: larger;
}

.steps {
  color: ivory;
  font-weight: normal;
}

.column {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: ivory;
}

.checkbox {
  color: ivory;
}

.checkbox:hover {
  color: slateblue;
}

.fa-star {
  font-size: 2em;
}
.yellow {
  color:yellow;
}
.chooseImg {
  width: 70%;
  transition: 0.3s;
}
.chooseImg:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.5s;
}
h3 {
  margin-top: 60px;
  color: #f185a7;
}
.chooseRecipeDiv {
  overflow: hidden !important;
  display: inline-block;
  width: 30%;
}

.containersContainer {
  margin-top: 50px;
}

.recipeContainer {
  width: 30%;
  display: inline-block;
  margin: 15px;
  background-color: #FAFAFA;
  height: 750px;
  overflow-y: auto;
  border-radius: 10px;
}

.recipeContainer img {
    width: 80%;
    margin: auto;
    margin-top: 25px;
    border: 4px solid rgb(39, 52, 63);
    border-radius: 5px;
}

a {
  font-weight: bold;
  color: rgb(133, 119, 226);
}

a:hover {
  color: #f185a7;
}
</style>