<template>
  <div id="app">
    <div id="nav">
      <nav class="sticky">
        <router-link class="spacing" :to="{name: 'Home'}">Home</router-link>

        <b-dropdown
          v-if="$store.state.currentUser !== null"
          class="spacing dropdown"
          hoverable
          aria-role="list"
        >
          <b-icon icon="menu-down"></b-icon>
          <router-link
            v-if="$store.state.currentUser !== null"
            class="spacing"
            :to="{name: 'UserProfile'}"
            slot="trigger"
          >MyProfile</router-link>

          <b-dropdown-item aria-role="listitem">
            <router-link class="spacing" :to="{name: 'MyRecipes'}">MyRecipes</router-link>
          </b-dropdown-item>
          <b-dropdown-item aria-role="listitem">
            <router-link
              v-if="$store.state.currentUser !== null"
              class="spacing"
              :to="{name: 'ShoppingList'}"
            >MyShoppingList</router-link>
          </b-dropdown-item>
        </b-dropdown>

        <router-link
          v-if="$store.state.currentUser === null"
          class="spacing"
          :to="{name: 'Calorie'}"
        >CalorieCalculator</router-link>
     
        <b-button
          type="is-primary"
          v-if="$store.state.currentUser !== null"
          size="is-small"
          @click="logout"
          outlined
        >Logout</b-button>
        <b-button
          type="is-primary"
          v-if="$store.state.currentUser === null"
          size="is-small"
          @click="$router.push('Login')"
          outlined
        >Login</b-button>
        <b-button
          type="is-primary"
          v-if="$store.state.currentUser === null"
          size="is-small"
          @click="$router.push('/sign-up')"
          outlined
        >Register</b-button>
        
        <hr />
      </nav>
    </div>

    <router-view />

    <br />
    <footer>
      <hr />
      <div class="content">
        <div class="columns">
          <div class="column">
            <p class="footer">
              Food Calculator 2020 |
              Privacy Policy |
              About |
              Contact
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import Vue from "vue";
import Buefy from "buefy";
import "buefy/dist/buefy.css";
const fb = require("./config/firebaseConfig");

Vue.use(Buefy);

export default {
  name: "App",
  data: () => ({}),
  methods: {
    logout() {
      fb.auth.signOut().then(() => {
        this.$store.dispatch("clearData");
        this.$router.push({ name: "Home" });
         this.$buefy.toast.open('Successfully logged-out')
      });
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Pacifico");
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 50px;
}

html {
  /* background-color: #96dfe5; */
  background-color: rgb(39, 52, 63);
}

body{
  padding-top: 5rem;
}

h1 {
  font-family: "Pacifico";
  font-size: 50px;
}

h2 {
  font-family: "Pacifico";
}

hr {
  /* color: #f185a7; */
  border-top: 0.1pt dotted ivory;
  border-radius: 5px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.spacing {
  margin-right: 15px;
  font-family: "Montserrat";
  text-align: center;
  padding-bottom: 1rem;
  /* color: #fffdfd; */
  color: lightslategrey;
  text-decoration: none;
}
nav {
  
  text-align: center;
  font-size: 15pt;
  font-weight: normal;
  position: top;
}

.sticky{
  
  position: fixed;
  top: 0;
  padding-top: 2rem;
  width: 100%;
  background-color: rgb(39, 52, 63, 0.9);
  z-index: 11;

}

.spacing:hover {
  color: #e6b2c3;
}

button {
  /* background-color: #96dfe5; */
  margin-left: 1rem;
}

.footer{
 font-weight: lighter;
  text-align: center;
  color: lightslategray;
 font-size: 12pt;
 background-color: rgb(39, 52, 63);
}

.content {
  padding:1rem 1.5rem 1rem;
  margin-top: 2rem;
}

.dropdown {
  background-color: #27343f;
  outline: none;
  border: none;
  padding: none;
  margin: none;
  font-size: 1em !important;
}

a.spacing {
  padding: none;
  margin: none;
}

button.is-medium {
  margin: none;
  padding: none;
}


.menu-down {
  color: white;
}
</style>
