<template>
  <div>
    <h1>Calorie Calculator</h1>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-12">
        <div class="tile">
          <div class="tile is-parent is-vertical is-7">
            <article class="tile is-child notification is-primary">
              <div class="column">
                <h3>Calculate your recommended calorie intake!</h3>
                <br />
                <b-field>
                  <b-input
                    placeholder="Age"
                    v-model="age"
                    type="number"
                    v-bind:value="this.age"
                    required
                    validation-message="Insert your Age"
                    pattern="[1-9,0]*"
                  ></b-input>
                </b-field>
              </div>

              <div class="column">
                <b-field>
                  <b-select
                    placeholder="biological Gender"
                    v-model="selectedGender"
                    v-bind:value="this.selectedGender"
                  >
                    <option value disabled hidden>Choose Gender</option>
                    <option value="female">female</option>
                    <option value="male">male</option>
                  </b-select>
                </b-field>
              </div>

              <div class="column">
                <b-field>
                  <b-input
                    placeholder="Height in cm"
                    v-model="height"
                    v-bind:value="this.height"
                    type="number"
                    required
                    validation-message="Insert height in cm"
                    pattern="[1-9,0]*"
                  ></b-input>
                </b-field>
              </div>

              <div class="column">
                <b-field>
                  <b-input
                    placeholder="Weight in kg"
                    v-model="weight"
                    v-bind:value="this.weight"
                    type="number"
                    required
                    validation-message="Insert weight in kg "
                    pattern="[1-9,0]*"
                  ></b-input>
                </b-field>
              </div>

              <div class="column">
                <b-field>
                  <b-select placeholder="Activity Profile" v-model="selectedPal">
                    <option value disabled hidden>{{ selectedPal}}</option>
                    <option value="1.2">Mainly sitting or lying</option>
                    <option value="1.4">Mainly sitting (office work)</option>
                    <option
                      value="1.6"
                    >Sitting and moderate movement (students, pupils, housewives/men)</option>
                    <option value="1.8">Mainly standing and walking (nurses, service staff)</option>
                    <option
                      value="2.0"
                    >Much movement (construction workers, super-heroes, competitive athletes)</option>
                  </b-select>
                </b-field>
              </div>

              <b-button type="is-primary" outlined @click="calculate">Calculate Daily Calories</b-button>

              <div class="infoText">
                <p class="enhanced">
                  Your daily calorie intake should be approximately:
                  <br>
                  <strong>{{this.grundumsatz}} kcal</strong>
                </p>
                <p>
                  Now you know how many calories you should consume on average per day.
                  <br />
                </p>
                <p>You want to plan your weekly shopping according to your needs in order not to buy too much?</p>
                <p class="action">
                  Create an
                  <strong><router-link to="/sign-up">Account</router-link> </strong> or
                   <strong><router-link to="/login">Login!</router-link></strong>
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="calculate">
      <h3>Calculate your recommended calorie intake!</h3>
      <br />
      <div>
        <div class="columns is-desktop">
          <div class="column">
            <b-field>
              <b-input
                placeholder="Age"
                v-model="age"
                type="number"
                required
                validation-message="Insert your Age"
                pattern="[1-9,0]*"
              ></b-input>
            </b-field>
          </div>
          <div class="column">
            <b-field>
              <b-select placeholder="biological Gender" v-model="selectedGender">
                <option value disabled hidden>Choose Gender</option>
                <option value="female">female</option>
                <option value="male">male</option>
              </b-select>
            </b-field>
          </div>
          <div class="column">
            <b-field>
              <b-input
                placeholder="Height"
                v-model="height"
                type="number"
                required
                validation-message="Insert height in cm"
                pattern="[1-9,0]*"
              ></b-input>
            </b-field>
          </div>
          <div class="column">
            <b-field>
              <b-input
                placeholder="Weight"
                v-model="weight"
                type="number"
                required
                validation-message="Insert weight in kg"
                pattern="[1-9,0]*"
              ></b-input>
            </b-field>
          </div>

          <div class="column">
            <b-field>
              <b-select placeholder="Activity Profile" v-model="selectedPal">
                <option value disabled hidden>Choose your Activitiy Profile</option>
                <option value="1.2">Mainly sitting or lying</option>
                <option value="1.4">Mainly sitting (office work)</option>
                <option value="1.6">Sitting and moderate movement (students, pupils, housewives/men)</option>
                <option value="1.8">Mainly standing and walking (nurses, service staff)</option>
                <option
                  value="2.0"
                >Much movement (construction workers, craftsmen, competitive athletes)</option>
              </b-select>
            </b-field>
          </div>
        </div>
      </div>
    </div>

    <b-button type="is-primary" outlined @click="calculate">Calculate Daily Calories</b-button>

    <div class="infoText">
      <p class="enhanced">
        Your daily calorie intake should be approximately:
        <strong>{{this.grundumsatz}} kcal</strong>
      </p>
      <p>
        Now you know how many calories you should consume on average per day.
        <br />
      </p>
      <p>You want to plan your weekly shopping according to your needs in order not to buy too much?</p>
      <p class="action">
        Create an
        <router-link to="/sign-up">Account</router-link>or
        <router-link to="/login">Login!</router-link>
      </p>
    </div>-->
  </div>
</template>


<script>
export default {
  name: "calorie",

  data() {
    return {
      selectedGender: "",
      male: "male",
      female: "female",
      age: "",
      weight: "",
      height: "",
      selectedPal: "",
      grundumsatz: 0
    };
  },

  methods: {
    calculate: function() {
      if (this.selectedGender === "male") {
        this.grundumsatz = Math.round(
          (66.47 +
            13.7 * parseInt(this.weight) +
            5 * parseInt(this.height) -
            6.8 * parseInt(this.age)) *
            parseFloat(this.selectedPal)
        ).toString();
      } else if (this.selectedGender === "female") {
        this.grundumsatz = Math.round(
          (655.1 +
            9.6 * parseInt(this.weight) +
            1.8 * parseInt(this.height) -
            4.7 * parseInt(this.age)) *
            parseFloat(this.selectedPal)
        ).toString();
      }
      console.log(this.grundumsatz);
      return this.grundumsatz;
    }
  }
};
</script>



<style scoped>
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
input {
  background-color: ivory;
  margin-left: 1rem;
  margin-top: 1rem;
}

.tile {
  background-color: rgb(39, 52, 63);
  /* display:table;
  align-items:center */
}

.is-parent{
  margin: auto
}

.column {
  margin: 1rem;
}

h1 {
  font-family: Pacifico;
  color: #f185a7;
}

h3 {
  font-family: Montserrat;
  font-size: 15pt;
  font-weight: normal;
  color: ivory;
}

button {
  background-color: #7857d5c9;
  font-family: Montserrat;
  color: ivory;
  margin-top: 1.5rem;
  margin-bottom: 1rem
}

.infoText {
  font-size: 12pt;
  font-weight: normal;
  margin: 1rem;
}

.calculate {
  margin: 1rem;
}

option {
  background-color: whitesmoke;
  font-family: Montserrat;
  font-size: 10pt;
}

p {
  font-family: Montserrat;
  color: ivory;
  font-weight: normal;
}

.router-link-active {
  color: #f185a7;
}

strong {
  color: #f185a7;
  font-size: 15pt;
}

.action {
  font-size: 15pt;
  margin-top: 1.5rem;
}

.infoText {
  font-size: 12pt;
  font-weight: normal;
  margin: 1rem;
}

.enhanced {
  font-size: 15pt;
  margin: 3rem;
}

a {
  color: #f185a7;
}
</style>
