<template>
  <div>
    <div class="home">
      <h1>Food-Calculator</h1>
      <h2>{{ text }}</h2>
      <br />
      <p>Tired of wasting tons of good food every year?</p>

      <p>
        Use our tools to plan your shopping accordingly.
        <br />
        <br />
      </p>
      <p>
        <strong>Fight food waste now!</strong>
      </p>
      <br />

      <div class="choice">
        <b-button
          type="is-primary"
          outlined
          v-if="$store.state.currentUser === null"
          size="is-medium"
          @click="$router.push('Login')"
        >Login</b-button>
        <b-button
          type="is-primary"
          outlined
          v-if="$store.state.currentUser === null"
          size="is-medium"
          @click="$router.push('/sign-up')"
        >Register</b-button>
        <b-button
          type="is-primary"
          outlined
          v-if="$store.state.currentUser === null"
          size="is-medium"
          @click="$router.push('/Kalorienrechner')"
        >CalorieCalculator</b-button>
        <b-button
          type="is-primary"
          v-if="$store.state.currentUser !== null"
          size="is-medium"
          @click="$router.push('/user-profile')"
          outlined
        >MyProfile</b-button>
      </div>
      <br />
      <br />

      <img class="flex" alt="Donuts" src="../assets/undraw_donut_love_kau1.svg" />

 

      <p class="academy">Powered by AW Academy</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "home",
  data: () => ({
    text: "Let´s save some food!"
  })
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
} */

h1 {
  font-family: "Pacifico";
  font-size: 70px;
  text-align: center;
  color: #f185a7;
  margin-bottom: 2rem;
}

h2 {
  font-family: "Montserrat";
  text-align: center;
  padding-bottom: 1rem;
  color: ivory;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 2rem;
}

p {
  font-family: "Montserrat";
  text-align: center;
  color: ivory;
  font-weight: normal;
  margin-bottom: 1rem;
  font-size: 15pt;
}

.academy {
  color: slateblue;
  font-weight: 500;
  font-size: 13pt;
}

strong {
  color: #f185a7;
  font-size: 20pt;
}

.choice {
  margin-top: 2rem;
}

.flex {
  display: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.router-link-active {
  color: #f185a7;
}

button {
  font-family: Montserrat;
  font-weight: 600;
  background-color: #7957d5;
  color: ivory;
  display: inline-flex;
}

img {
  height: auto;
  margin: 2rem;
}
</style>
