<template>
  <form class="sign-in container">
    <h3>Logge dich ein!</h3>

    <!-- <p>
        <input type="text" v-model="email" placeholder="Email"><br>
        <input type="password" v-model="password" placeholder="Passwort"><br>
    </p>-->
    <section>
      <div class="columns is-desktop">
        <div class="column">
          <b-field>
            <b-input
              placeholder="Email"
              v-model="email"
              type="text"
              required
              validation-message="Bitte die Email eingeben"
              pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            ></b-input>
          </b-field>
        </div>
        <div class="column">
          <b-field>
            <b-input
              placeholder="Passwort"
              v-model="password"
              type="password"
              required
              validation-message="Bitte ein sicheres Passwort eingeben"
              pattern="^(?=.*\d).{6,16}$"
            ></b-input>
          </b-field>
        </div>
      </div>
    </section>

    <b-button type="is-primary" class="rounded" outlined @click="login">Login</b-button>
    <p>
      Du hast noch kein Benutzerkonto? Registriere dich
      <router-link to="/sign-up">hier</router-link>!
    </p>
  </form>
</template>

<script>
// import firebase from 'firebase';

import * as fb from "../config/firebaseConfig";
//const fb = require('../config/firebaseConfig')

export default {
  name: "login",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    login() {
      setTimeout(() => {
        fb.auth
          .signInWithEmailAndPassword(this.email, this.password)
          .then(user => {
            setTimeout(() => {
              this.$store.commit("setCurrentUser", user.user);
              // console.log(user)
              this.$store.dispatch("fetchUserProfile");
              this.$router.push({ name: "Home" });
              this.$buefy.toast.open("User succesfully logged-in");
            }, 1);
          })
          .catch(err => {
            console.log(err);
            this.$buefy.toast.open({
              message: err,
              type: "is-danger"
            });
          });
      });
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
input {
  background-color: ivory;
}
button {
  font-family: Montserrat;
  font-size: larger;
  background-color: #7957d5;
  color: ivory;

  margin-bottom: 1rem;
}

h3 {
  color: #f185a7;
  font-family: Pacifico;
  font-size: 70px;
}

.router-link-active {
  color: #7957d5;
}

.columns {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.container {
  width: 80%;
}

a {
  color: #f185a7;
}

@media (min-width: 721px) {
  .container {
    width: 50%;
  }
}
</style>