<template>
  <div class="myRecipes container">
      <div v-if="!loading">
          <h1>{{ firstName }}'s Recipes</h1>
           <hr />
        <div v-for="recipe of recipes" :key="recipe.recipe.label" class="recipeContainer">
            <figure class="image is-4by3">
                <img :src="recipe.recipe.image" :v-model="recipe.recipe.image" alt="Recipe Image" />
            </figure>
            <h3>{{ recipe.recipe.label }}</h3>
            <p><a :href="recipe.recipe.url" target="_blank">Show whole recipe</a></p>
            <p
                v-for="ingredients in recipe.recipe.ingredientLines"
                :key="ingredients"
                class="subtitle is-8 healthLabel"
            >{{ ingredients }}</p>
            <br />
            <i @click="safeRecipeInList(recipe.recipe)" class="fas fa-plus"></i>
            <p>Add to Shoppinglist</p>
        </div>
      </div>
      <!-- <b-notification  :closable="false" > -->
            <b-loading :active.sync="loading" :can-cancel="true" v-else></b-loading>
      <!-- </b-notification> -->
      
  </div>
</template>


<script>
import axios from 'axios';
import * as fb from "../config/firebaseConfig";
export default {
  name: "MyRecipes",
  data() {
    return {
      user: this.$store.state.currentUser,
      firstName: this.$store.state.userProfile.firstName,
      recipes: {},
      loading: true,
      shoppingList: [],
    };
  },
  methods: {
      safeRecipeInList(recipe){
        let itemCAL;
        let unitIN;
          for(let ingredient of recipe.ingredientLines){
            axios
            .get("https://api.edamam.com/api/nutrition-data", {
                params: {
                    app_id: "92a142da",
                    app_key: "1385283ad94917bc71d2cafa84ef6768",
                    ingr: ingredient
                }
            })
            .then(res => {
            res = res.data;
            itemCAL = res.calories;

            var letters = ingredient.replace(/[0-9]/g, '');
            
            var matches = ingredient.match(/\d+/g);
            var numWeight = matches.join(",")

            if(letters.includes('.')){
                letters = letters.replace('.', '')
            }
            if(letters.charAt(0) === "g"){
                letters = letters.replace('g', '')
                unitIN = "g";
            } else if(letters.charAt(0) === "l"){
                letters = letters.replace('l', '')
                unitIN = "l";
            } else if(letters.includes('tbsp')){
                letters = letters.replace('tbsp', '')
                unitIN = "tbsp";
            } else if(letters.includes('tablespoon')){
                letters = letters.replace('tablespoon', '')
                unitIN = "tbsp";
            } else {
                unitIN = "";
            }

            var calIN = itemCAL;
            this.shoppingList.push({
                quantity: numWeight,
                itemName: letters,
                itemUnit: unitIN,
                itemCAL: calIN,
                inEditMode: false
            });

            })
            .catch(() => {
            this.itemsList = [];
            });

        
          }
          setTimeout(()=>{
              console.log(this.itemsList);
            // Speicherung der Liste in der Datenbank
                fb.db
                .collection("shoppingList")
                .doc(this.$store.state.currentUser.uid)
                .set({
                itemsList: this.shoppingList
                })
                .then(() => {
                this.$buefy.toast.open('Shopping-List saved')
                })
                .catch(err => {
                console.log(err);
                this.errorMsg = err.message;
                });
          }, 6000)
          
      
      }
  },
  mounted() {
    setTimeout(()=>{
        this.recipes = this.$store.state.recipes;
        this.shoppingList = this.$store.state.itemsList;
        this.firstName = this.$store.state.userProfile.firstName;
        this.loading = false;
    },1000)
   
  }
};
</script>


<style scoped>
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

h1{
    margin-bottom: 40px;
}

h3{
  color: #f185a7;
  margin: 1rem;
  margin-top: 35px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15pt
}

p{
  color: slategrey;
  font-size: 10pt;
}

.fa-plus {
    font-size: 1.5em;
    margin-top: 30px;
}

.container {
  width: 80%;
}

.recipeContainer {
  width: 30%;
  display: inline-block;
  margin: 15px;
  background-color: #FAFAFA;
  height: 750px;
  overflow-y: auto;
  border-radius: 10px;
}

.recipeContainer img {
    width: 80%;
    margin: auto;
    margin-top: 25px;
    border: 4px solid rgb(39, 52, 63);
    border-radius: 5px;
}

.healthLabel {
  display: inline-block;
  padding: 0 5px;
  margin: 0;
  padding: 10px;
}
</style>