<template>
  <div class="table is-desktop">
    <form id="shopping-list">
      <h2>Shopping-List</h2>

      <h4>Create your weekly shopping-list</h4>
      <br>
       <p>Your body needs <strong>{{this.$store.state.userProfile.weeklyUmsatz}} kcal </strong> a week! 
       <br> 
       So let's prepare your perfect weekly shopping-list: </p>

      <div class="column">
        <article>
          <div class="column">
            <p>Name:</p>
            <b-input type="text" v-model="itemName" class="checkbox" />
          </div>
          <div class="column">
            <p>Quantity:</p>
            <b-input type="number" v-model="quantity" class="checkbox" autofocus />
          </div>
          <div class="column">
            <p>Unit:</p>
            <b-field>
              <b-select
                placeholder="Choose Unit"
                type="text"
                v-model="itemUnit"
                class="checkbox"
                autofocus
              >
                <option value disabled hidden>{{ itemUnit}}</option>
                <option value="ml">ml</option>
                <option value="l">liter</option>
                <option value="gr">gram</option>
                <option value="kg">kilogram</option>
                <option value="pcs">pieces</option>
              </b-select>
            </b-field>
          </div>
          <br>

          <b-button type="button" class="button is-primary is-outlined" @click="addItem">Add Food</b-button>
          <b-button type="button" class="button is-primary is-outlined" @click="saveList">Save List</b-button>
        </article>
      </div>
    </form>

    <br />

    <h3>My Shopping-List</h3>

    <p>Your list contains food worth <strong>{{sumCalories}}</strong> calories </p>
   
    <br>

    <table id="shopping-list-table" class="table is-desktop">
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Item</th>
          <th>Calories</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tr v-for="(item, index) in itemsList" v-bind:key="item.itemName">
        <td>
          <span v-show="!item.inEditMode">{{ item.quantity }}</span>
          <input
            type="number"
            v-bind:placeholder="item.quantity"
            v-show="item.inEditMode"
            v-model="item.quantity"
          />
        </td>
        <td>
          <span v-show="!item.inEditMode">{{ item.itemUnit }}</span>
          <input
            v-bind:placeholder="item.itemUnit"
            v-show="item.inEditMode"
            v-model="item.itemUnit"
          />
        </td>
        <td>
          <span v-show="!item.inEditMode">{{ item.itemName }}</span>
          <input
            v-bind:placeholder="item.itemName"
            v-show="item.inEditMode"
            v-model="item.itemName"
          />
        </td>

        <td>
          <span v-show="!item.inEditMode">{{item.itemCAL}}</span>
        </td>

        <td>
          <button
            type="button"
            class="button is-small is-primary is-outlined"
            v-show="item.inEditMode"
            @click="editItemComplete(item)"
          >Save</button>

          <button
            type="button"
            class="button is-small is-primary is-outlined"
            v-show="!item.inEditMode"
            @click="editItem(item)"
          >Edit</button>

          <button
            type="button"
            class="button is-small is-primary is-outlined"
            @click="removeItem(index)"
          >Delete</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import * as fb from "../config/firebaseConfig";
import axios from "axios";

export default {
  name: "shoppingList",
  data() {
    return {
      quantity: "",
      itemName: "",
      itemUnit: "",
      itemsList: [],
      user: this.$store.state.currentUser,
      // itemCAL: this.itemCAL,
      inEditMode: false,
      sumCalories:""

    };
  },

 mounted() {
   let shoppingArray = [];
    fb.db
      .collection("shoppingList")
      .doc(this.user.uid)
      .get()
      .then(snapshot => {
          shoppingArray.push(snapshot.data());
          this.itemsList = shoppingArray[0].itemsList;
          
      })
      setTimeout(() => {
          this.sumCaloriesFunc();
      console.log(this.itemsList)
      }, 1000)
 },

  methods: {
    addItem: function() {
      let itemCAL;
      let itemNameIN = this.itemName.trim();
      let quantityIN = this.quantity;
      let unitIN = this.itemUnit;
      
      axios

        .get("https://api.edamam.com/api/nutrition-data", {
          params: {
            app_id: "92a142da",
            app_key: "1385283ad94917bc71d2cafa84ef6768",
            ingr: this.quantity + " " + this.itemUnit + " " + this.itemName
          }
        })
        .then(res => {
          res = res.data;

          // for (let food of res) {
          // }
          itemCAL = res.calories;
          console.log(res.calories);

          var calIN = itemCAL;
          this.itemsList.push({
            quantity: quantityIN,
            itemName: itemNameIN,
            itemUnit: unitIN,
            itemCAL: calIN,
            inEditMode: false
          });

        })
        .catch(() => {
          this.itemsList = [];
        });

       this.sumCalories = this.sumCaloriesFunc()

      console.log(this.itemsList);

      this.clearAll();
    },

    clearQuantity: function() {
      this.quantity = "";
    },

    clearItemName: function() {
      this.itemName = "";
    },

    clearUnit: function() {
      this.unit = "";
    },

    clearAll: function() {
      this.clearQuantity();
      this.clearItemName();
      this.clearUnit();
    },

    removeItem: function(index) {
      this.itemsList.splice(index, 1); //delete 1 element from the array at the position index
    },

    editItem: function(item) {
      item.inEditMode = true;
      // this.itemCAL= this.itemCAL * this.quantity / 100
      // console.log(this.itemCAL)
    },

    editItemComplete: function(item) {
      item.inEditMode = false;
      
    },

    sumCaloriesFunc: function(){
      var sumCalories1 = 0
    
      for(let itemCAL of this.itemsList){

        console.log(itemCAL)
     sumCalories1 += parseInt(itemCAL.itemCAL)
     this.sumCalories= sumCalories1
        
      }
      return this.sumCalories
    },

    saveList: function() {
      fb.db
        .collection("shoppingList")
        .doc(this.$store.state.currentUser.uid)
        .set({
          itemsList: this.itemsList
          //   name: this.name,
          //   quantity: this.quantity,
          //   unit: this.unit
        })
        .then(() => {
          // this.$store.dispatch("fetchUserShoppingList");
          this.$buefy.toast.open('Shopping-List saved')
        })
        .catch(err => {
          console.log(err);
          this.errorMsg = err.message;
        });

         
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* button {
  font-family: Montserrat;
  color: ivory;
  margin: 1rem;
  font-weight: 600;
} */


h2 {
  color: #f185a7;
  font-family: Pacifico;
  font-size: 50pt;
}

h3 {
  color: #f185a7;
  font-family: Pacifico;
  font-size: 30pt;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

h4 {
  color: #7857d5c9;
  font-family: Montserrat;
  font-size: 20pt;
  font-weight: 600;
  margin-top: 2rem;
}

div {
  font-weight: 600;
  font-family: Montserrat;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}

strong{
  color: #f185a7;
  font-size: 15pt;
  font-weight: 600
}

input {
  margin: 0.2rem;
}

.b-checkbox {
  margin: 5px;
  width: 30%;
  /* color: ivory; */
  color: slateblue;
  font-weight: bold;
}

.shopping {
  color: #f185a7;
  font-size: 20px;
}

#shopping-list-table {
  color: ivory;
  margin-top: 3rem;
  margin: 0 auto;
  font-weight: 500;
 
  /* display: inline-block */
}



.table{
  /* background-color:rgb(39, 52, 63) */
  background-color:#27343f;
}

.table td{
text-align:center
}

.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #7957d5;
    color: #7957d5;
}


.table thead th {
    border-width: 0 0 2px;
    color: slateblue;
    font-size: 15pt;
    text-align:center;
}

</style>