<template>
    <form class="sign-up container">
        <h3>Registriere dich!</h3>

        <section>
            <div class="columns is-desktop">
                <div class="column">
                    <b-field>
                        <b-input 
                            placeholder="Vorname" 
                            v-model="signUpForm.firstName"
                            type="text"
                            required
                            validation-message="Bitte den Vornamen eingeben"
                            pattern="[a-z, A-Z]*">
                        </b-input>
                    </b-field>
                </div>
                <div class="column">
                    <b-field>
                        <b-input 
                            placeholder="Name"
                            v-model="signUpForm.name" 
                            type="text"
                            required
                            validation-message="Bitte den Namen eingeben"
                            pattern="[a-z, A-Z]*">
                        </b-input>
                    </b-field>
                </div>
            </div>

            <div class="columns is-desktop">
                <div class="column">
                    <b-field>
                        <b-input 
                            placeholder="Email"
                            v-model="email" 
                            type="text"
                            required
                            validation-message="Bitte die Email eingeben"
                            pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Zaäüß]{2,3}$">
                        </b-input>
                    </b-field>
                </div>
                <div class="column">
                    <b-field>
                        <b-input 
                            placeholder="Passwort" 
                            v-model="password"
                            type="password"
                            required
                            validation-message="Bitte ein sicheres Passwort eingeben"
                            pattern="^(?=.*\d).{6,16}$">
                        </b-input>
                    </b-field>
                </div>
            </div>
                
            <div class="columns is-desktop">
                <div class="column">
                    <b-field>
                        <b-select placeholder="Geschlecht" v-model="signUpForm.selectedGender">
                                <option value="female">Weiblich</option>
                                <option value="male">Männlich</option>
                        </b-select>
                    </b-field>
                </div>
                <div class="column">
                    <b-field>
                        <b-input 
                            placeholder="Alter" 
                            v-model="signUpForm.age"
                            type="number"
                            required
                            validation-message="Bitte das Alter eintragen"
                            pattern="[1-9,0]*">>
                        </b-input>
                    </b-field>
                </div>
            </div>
        
        </section>

            <b-button type="is-primary" class="rounded" outlined @click="signUp">Registrieren</b-button>
            
        
        <p>Du hast schon ein Konto? Weiter zum <strong><router-link to="/login">Login!</router-link></strong>
        </p>
        
    </form>
</template>


<script>
import * as fb from '../config/firebaseConfig'

export default {
    
    name: 'signUp',
    data() {
        return {
            email: '',
            password: '',
            signUpForm: {
                name: '',
                firstName: '',
                selectedGender: '',
                age: '',
                checkboxGroup: [],
            },            
        }
    },
    methods: {
        
        signUp(){
            fb.auth.createUserWithEmailAndPassword(this.email, this.password).then((user) => {
                    this.$store.commit('setCurrentUser', user.user);
                   console.log(this.signUpForm.checkboxGroup)
                    var userData = {
                        name: this.signUpForm.name,
                        firstName: this.signUpForm.firstName,
                        selectedGender: this.signUpForm.selectedGender,
                        age: this.signUpForm.age,
                        checkboxGroup: this.signUpForm.checkboxGroup,
                    };
                    setTimeout(()=>{
                        fb.db.collection('users').doc(user.user.uid).set(userData).then(() => {
                        this.$store.dispatch('fetchUserProfile');
                        this.$router.push('/');
                        console.log(`User ${user.user.uid} has been created and data has been stored`);
                        console.log(userData.checkboxGroup)
                        this.$buefy.toast.open('User succesfully registered')
                     }).catch(err => {
                        console.log(err);
                        this.errorMsg = err.message;
                        this.$buefy.toast.open({
                        message: err,
                        type: 'is-danger'
                        });
                    });
                    }, 1);
            });
                
        },
    }
};

</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

 input{
     background-color: ivory;
 }
 button{
     font-family: Montserrat;
  font-size: larger;
  background-color: #7957d5;
  color: ivory;
 }

 h3{
  color: #f185a7;
  font-family: Pacifico ;
  font-size: 70px
}

 .router-link-active{
  color: #f185a7;
}

a {
  color: #f185a7;
  font-size: 15pt;
}

.columns {
        margin-top: 20px;
    }
    .b-checkbox {
        margin: 5px;
        width: 30%;
    }
    .container {
        width: 80%;
    }
    .button {
        margin: 30px;
    }

    @media (min-width: 721px){
        .container {
            width: 50%;
        }
    }
</style>