<template>
  <div class="profile">
    <h2>My Profile</h2>
    <hr />
    <div class="tile is-ancestor" v-if="!loading">
      <div class="tile is-vertical is-12">
        <div class="tile">
          <div class="tile is-parent is-vertical is-6">
            <article class="tile is-child notification is-primary">
              <div class="column">
                <h3>{{this.firstName}}'s Data</h3>
                <br />
                <b-field>
                  <b-input
                    placeholder="Age"
                    v-model="age"
                    type="number"
                    v-bind:value="this.age"
                    required
                    validation-message="Insert your Age"
                    pattern="[1-9,0]*"
                  ></b-input>
                </b-field>
              </div>

              <div class="column">
                <b-field>
                  <b-select
                    placeholder="biological Gender"
                    v-model="selectedGender"
                    v-bind:value="this.selectedGender"
                  >
                    <option value disabled hidden>Choose Gender</option>
                    <option value="female">female</option>
                    <option value="male">male</option>
                  </b-select>
                </b-field>
              </div>

              <div class="column">
                <b-field>
                  <b-input
                    placeholder="Height in cm"
                    v-model="height"
                    v-bind:value="this.height"
                    type="number"
                    required
                    validation-message="Insert height in cm"
                    pattern="[1-9,0]*"
                  ></b-input>
                </b-field>
              </div>

              <div class="column">
                <b-field>
                  <b-input
                    placeholder="Weight in kg"
                    v-model="weight"
                    v-bind:value="this.weight"
                    type="number"
                    required
                    validation-message="Insert weight in kg "
                    pattern="[1-9,0]*"
                  ></b-input>
                </b-field>
              </div>

              <div class="column">
                <b-field>
                  <b-select placeholder="Activity Profile" v-model="selectedPal">
                    <option value disabled hidden>{{ selectedPal}}</option>
                    <option value="1.2">Mainly sitting or lying</option>
                    <option value="1.4">Mainly sitting (office work)</option>
                    <option
                      value="1.6"
                    >Sitting and moderate movement (students, pupils, housewives/men)</option>
                    <option value="1.8">Mainly standing and walking (nurses, service staff)</option>
                    <option
                      value="2.0"
                    >Much movement (construction workers, super-heroes, competitive athletes)</option>
                  </b-select>
                </b-field>
              </div>

              <b-button type="is-primary" outlined @click="calculate">Calculate Daily Calories</b-button>

              <div class="infoText">
                <p>
                  Your daily calorie intake should be approximately:
                  <strong>{{this.grundumsatz}}</strong> kcal
                </p>
                <p>
                  Your weekly calorie intake should be approximately
                  <strong>{{this.grundumsatz*7}}</strong> kcal !
                </p>
              </div>

              <b-button
                type="button"
                class="button is-primary is-outlined"
                @click="saveProfile"
              >Save Profile</b-button>
            </article>
                <!-- <hr /> -->
          </div>
      

          <div class="tile is-parent is-vertical is-6">
            <article class="tile is-child notification is-info">
              
              <h3 id="list">Create a shopping list!</h3>
             
              <img class="flex" alt="Donuts" src="../assets/undraw_online_groceries_a02y.svg" />
              
              <p>Create a list that fits your weekly calorie requirements</p>
              <b-button
                type="button"
                class="button is-primary is-outlined"
                @click="$router.push('/shopping-list')"
              >Create shopping-list</b-button>
            </article>
            <!-- <hr /> -->
            <!-- <article class="tile is-child notification is-warning">
              <div class="content">
                

                <div class="recipe"></div>
              </div>
            </article> -->
          </div>
        </div>
        <br>
        <h3>
          My Recipes
        <!-- <router-link :to="{name: 'MyRecipes'}">My Recipes</router-link> -->
        </h3>

          <h4>5 Steps to food heaven</h4>

          <br>
          <br>

          <img class="tasting" alt="Muffin" src="../assets/undraw_tasting_de22.svg" />

          <br>
          <br>
          <br>
        
        <Recipe></Recipe>

      </div>
    </div>
    <b-loading :is-full-page="isFullPage" :active.sync="loading" :can-cancel="true" v-else></b-loading>
  </div>
</template>

<script>
import * as fb from "../config/firebaseConfig";
import axios from 'axios';
import Recipe from "../components/Recipe.vue";

export default {
  name: "UserProfile",
  components: {
    Recipe
  },
  data() {
    return {
      name: this.$store.state.userProfile.name,
      firstName: this.$store.state.userProfile.firstName,
      selectedGender: this.$store.state.userProfile.selectedGender,
      male: "male",
      female: "female",
      age: this.$store.state.userProfile.age,
      weight: this.$store.state.userProfile.weight,
      height: this.$store.state.userProfile.height,
      selectedPal: this.$store.state.userProfile.selectedPal,
      grundumsatz: this.$store.state.userProfile.grundumsatz,
      loading: true,
      // user: this.$store.state.currentUser
      labelPosition: 'bottom',
                position: null,
                size: null,
    };
  },
  mounted() {
      setTimeout(()=>{
        this.name = this.$store.state.userProfile.name,
      this.firstName = this.$store.state.userProfile.firstName,
      this.selectedGender = this.$store.state.userProfile.selectedGender,
      this.age = this.$store.state.userProfile.age,
      this.weight = this.$store.state.userProfile.weight,
      this.height = this.$store.state.userProfile.height,
      this.selectedPal = this.$store.state.userProfile.selectedPal,
      this.grundumsatz = this.$store.state.userProfile.grundumsatz,
        this.recipes = this.$store.state.recipes
        this.firstName = this.$store.state.userProfile.firstName
        this.loading = false
    },500)
  },

  methods: {
    calculate: function() {
      if (this.selectedGender === "male") {

        this.grundumsatz = Math.round(
          (66.47 +
            13.7 * parseInt(this.weight) +
            5 * parseInt(this.height) -
            6.8 * parseInt(this.age))
            * parseFloat(this.selectedPal)
        ).toString();//.toLocaleString('de-DE');

      } else if (this.selectedGender === "female") {
       
        this.grundumsatz = Math.round(
          (655.1 +
            9.6 * parseInt(this.weight) +
            1.8 * parseInt(this.height) -
            4.7 * parseInt(this.age) )
            * parseFloat(this.selectedPal)
        ).toString();//.toLocaleString('de-DE');
      }
      console.log(this.grundumsatz);
      return this.grundumsatz;
    },

    saveProfile() {
      fb.db
        .collection("users")
        .doc(this.$store.state.currentUser.uid)
        .set({
          name: this.name,
          firstName: this.firstName,
          selectedGender: this.selectedGender,
          age: this.age,
          weight: this.weight,
          height: this.height,
          selectedPal: this.selectedPal,
          grundumsatz: this.grundumsatz,
          weeklyUmsatz: this.grundumsatz*7
          // checkboxGroup: this.checkboxGroup,
        })
        .then(() => {
          this.$store.dispatch("fetchUserProfile");
         
        })
        .catch(err => {
          console.log(err);
          this.errorMsg = err.message;
        });

        this.$buefy.toast.open('Profile saved')
    },
    
    showRecipes(plan) {
      axios
        .get("https://api.edamam.com/search", {
          params: {
            q: plan,
            app_id: "59a09b6c",
            app_key: "66ae48894cf02b538fea7a3ccf8d5eb7",
            from: 0,
            to: 4
          }
        })
        .then(res => {
          res = res.data;
          this.recipes = res.hits;
        })
        .catch(() => {
          this.recipes = [];
        });
      console.log(this.recipes);
    }
  }
};
</script>


<style scoped>
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.profile {
  width: 80%;
  margin: auto;
}

.flex {
  display: center;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 30%;
}

.tasting{
  display: block;
  margin: auto;
  width: 40%;
  height: 10%;
}

button {
  background-color: #7857d5c9;
  font-family: Montserrat;
  color: ivory;
  margin: 1rem;
}

h2 {
  color: #f185a7;
  font-family: Pacifico;
  font-size: 70px;
}

h3{
  color: #f185a7;
  font-family: Pacifico;
  font-size: 50px;
  font-weight: 500;
  margin-Bottom: 2rem;
  margin-top: 1rem

}

h4 {
  color: #f185a7;
  font-family: Pacifico;
  font-size: 30px;
  font-weight: 500;
  margin-Bottom: 2rem;
}

#list{
  padding-top: 1.8rem;
}

hr {
  border-top: 0.1pt dotted ivory;
  border-radius: 5px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article {
  padding-top: 0rem;
}

.tile {
  background-color:rgb(39, 52, 63)
}

.title {
  color: #f185a7;
  font-family: Pacifico;
  font-size: 25pt;
  margin-top: 4rem;
}

.subtitle {
  color: #f185a7;
  font-family: Montserrat;
  font-size: 15pt;
  margin-top: 4rem;
}

.content {
  margin-top: 0;
  padding: 1.5rem;
}

p {
  font-weight: 500;
  margin-top: 2rem;
  color: ivory;
}

section{
  font-weight: 500;
  margin-top: 2rem;
  color: ivory;
}

strong {
  color: #f185a7;
}

.columns {
  margin-top: 20px;
}

.b-checkbox {
  margin: 5px;
  width: 30%;
  /* color: ivory; */
  color: ivory;
  font-weight: bold;
}

.container {
  width: 80%;
}

.column {
  margin: 1rem;
}

/* .shopping {
  font-family: Pacifico;
  color: #f185a7;
  font-size: 30px;
  font-weight: 500;
} */

.recipe {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: ivory;
}

strong {
  color: #f185a7;
}

input {
  margin-left: 1rem;
  margin-top: 1rem;
}

option {
  background-color: whitesmoke;
  color: red;
  font-family: Montserrat;
  font-size: 10pt;
}

.infoText {
  font-size: 12pt;
  font-weight: normal;
  margin: 1rem;
}

.recipe {
  width: 80%;
  margin: auto;
}

@media (min-width: 721px) {
  .container {
    width: 50%;
  }
}
</style>